/*Configure the tab buttons*/
.charsheet .sheet-main,
.charsheet .sheet-skills,
.charsheet .sheet-gear,
.charsheet .sheet-definitions,
.charsheet .sheet-abilities,
.charsheet .sheet-spells,
.charsheet .sheet-accessories,
.charsheet .sheet-inventory{
  display: none;
  text-align: center;
}

/* show the selected tab */
.charsheet .sheet-tabstoggle[value="main"] ~ div.sheet-main,
.charsheet .sheet-tabstoggle[value="skills"] ~ div.sheet-skills,
.charsheet .sheet-tabstoggle[value="gear"] ~ div.sheet-gear,
.charsheet .sheet-tabstoggle[value="definitions"] ~ div.sheet-definitions,
.charsheet .sheet-tabstoggle[value="abilities"] ~div.sheet-abilities,
.charsheet .sheet-tabstoggle[value="spells"] ~div.sheet-spells,
.charsheet .sheet-tabstoggle[value="accessories"] ~div.sheet-accessories,
.charsheet .sheet-tabstoggle[value="inventory"] ~div.sheet-inventory{
  display: inline-block;
}

.color{
  display: inline-block;
}
.titleinputhidden[value=""] ~ .color{
  display: None;
}

.shadow{
  display: None;
}
.titleinputhidden[value=""] ~ .shadow{
  display: inline-block;
}

.small-select{
  height: 20px;
  width: 42px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 1px;
  margin: 1px;
}




.Small-Button{
  width: 14px;
  height: 12px;
  padding: 0;
  margin: 0;
  border: 1px black solid;
  transition-duration: 0.4s;
  box-shadow: 0 2px #505050;
  float: left;
  background-color: #F0F0F0;
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
}

.Small-Button:hover{
  background-color: #323232;
  color: #FFFFFF;
}

.Small-Button:active{
  background-color: #000000;
  color: #db1c1c;
  box-shadow: 0 0;
  transform: translateY(2px);
}

.ui-dialog .charsheet button[type=roll],
.ui-dialog .charsheet button[type=compendium]{
  padding: 0;
  border: 1px black solid;
  margin: 0;
  width: 20px;
  height: 20px;
  text-align: center;
  background-color: #F0F0F0;
  color: #000000;
  background-image: none;
  content: "";
  float: right;
  transition-duration: 0.4s;
  box-shadow: 0 2px #909090;
}

.ui-dialog .charsheet button[type=roll]:hover,
.ui-dialog .charsheet button[type=compendium]:hover {
  background-color: #323232;
  color: #FFFFFF;
}

.ui-dialog .charsheet button[type=roll]:active,
.ui-dialog .charsheet button[type=compendium]:active {
  background-color: #000000;
  color: #db1c1c;
  box-shadow: 0 0;
  transform: translateY(2px);
}

.ui-dialog .charsheet input::-webkit-outer-spin-button,
.ui-dialog .charsheet input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.ui-dialog .charsheet input[type=number]{
  -moz-appearance: textfield;
  height: 18px;
  padding: 2px;
  border: 1px solid #909090;
  background-color: #FFFFFF;
  color: #000000;
  text-align: center;
}

.ui-dialog .charsheet input[readonly]{
  background-color: #5A5A5A;
  color: #FFFFFF;
  text-align: center;
  font-weight: bold;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.Title-Div{
  background-color: #000000;
  color: #F0F0F0;
  text-align: center;
  font-weight: bold;
  border-radius: 5px 5px 0 0;
}

.Title-Div h3{
  color: #FFFFFF
}

.SAbutton button{
  background-color: #ffffff;
  color: #000000;
  font-weight: bold;
  border: solid 2px black;
  border-radius: 5px;
  transition-duration: 0.4s;
  box-shadow: 0 2px #909090;
  margin: 4px;
}

.SAbutton button:hover{
  background-color: #323232;
  color: #FFFFFF;
}

.SAbutton button:active{
  background-color: #000000;
  color: #db1c1c;
  box-shadow: 0 0px;
  transform: translateY(2px);
}

.characterdetailblock {
  background-color: #000000;
  width: 800px;
}

.characterdetailblock input[type=text]{
  height: 18px;
  padding: 2px;
  border: 0px;
}

.characterdetailblock input[type=number]{
  height: 18px;
  padding: 2px;
  border: 0px;
}

.characterdetailblock input[readonly] {
  height: 18px;
  padding: 2px;
  border: 0px;
}


.titleblock{
  width: 800px;
  background-color: #000000;
  border-radius: 5px 5px 0px 0px;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
}

.BonusBox{
  text-align: center;
  margin: auto;
  width: 42px;
}

.DataBox{
  margin: auto;
  background-color: #000000;
  color: #FFFFFF;
  font-weight: bold;
  float: left;
  padding-left: 2px;
  padding-right: 2px;
}

.DataBox input{
  text-align: left;
  width: 120px;
}

.ui-dialog .charsheet .DataBox select{
  width: 120px;
  height: 18px;
  text-align: center;
  padding: 0;
  font-size: 12px;
  margin: 0;
}

.Attribute-Name{
  width: 135px;
  margin: 0px;
  background: #000000;
  color: #FFFFFF;
  font-weight: bold;
}

.Attribute-Name input{
  float: right;
}

.Attribute-Mod{
  text-align: center;
  margin: auto;
  width: 42px;
 }

.grid-head{
  font-weight: bold;
  text-decoration-line: underline;
}

.attribute-grid{
  width: 400px;
  float: left;
  text-align: center;
  vertical-align: center;
  horiz-align: center;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  grid-template-rows: auto;
  gap: 0 0;
  justify-content: end;
  align-items: center;
  grid-template-areas:
    "Attribute-0 Attribute-1 Attribute-2 Attribute-3 Attribute-4 Attribute-5 Attribute-6 Attribute-7";
}
.Attribute-0{grid-area: Attribute-0; background-color: #000000;}
.Attribute-1{grid-area: Attribute-1; background-color: #000000;}
.Attribute-2{grid-area: Attribute-2}
.Attribute-3{grid-area: Attribute-3}
.Attribute-4{grid-area: Attribute-4}
.Attribute-5{grid-area: Attribute-5}
.Attribute-6{grid-area: Attribute-6}
.Attribute-7{grid-area: Attribute-7}

.Attribute-0 > div{
  padding-bottom: 2px;
  display: inline-block;
  height: 18px;
  font-weight: bold;
  background-color: #000000;
  color: #FFFFFF;
}
.Attribute-1 > div{
  padding-bottom: 2px;
  display: inline-block;
  height: 18px;
}
.Attribute-2 > div{
  padding-bottom: 2px;
  display: inline-block;
  height: 18px;
}
.Attribute-3 > div{
  padding-bottom: 2px;
  display: inline-block;
  height: 18px;
}
.Attribute-4 > div{
  padding-bottom: 2px;
  display: inline-block;
  height: 18px;
}
.Attribute-5 > div{
  padding-bottom: 2px;
  display: inline-block;
  height: 18px;
}
.Attribute-6 > div{
  padding-bottom: 2px;
  display: inline-block;
  height: 18px;
}

.Attribute-7 > div{
  display: inline-block;
  padding: 0;
  margin: 0;
}

.ui-dialog .charsheet .attribute-grid button[type=roll],
.ui-dialog .charsheet .attribute-grid button[type=compendium]{
  height: 18px;
  width: 20px;
  padding: 0;
  margin: 0;
  float: none;
}

.attributes-and-armor{
width: 800px;
}

.title{
  background-color: #000000;
  border-radius: 5px 5px 0 0;
  border: 4px black solid;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
  width: 400px;
  margin-right: 2px;
}

.saves {
  vertical-align: center;
  display: grid;
  width: 400px;
  grid-template-columns: auto auto auto auto auto auto 24px;
  grid-template-rows: auto auto ;
  grid-gap: 2px 14px;
  grid-template-areas:
    "Save-H Save-H Save-H Save-H Save-H Save-H Save-H"
    "Save-0 Save-1 Save-2 Save-3 Save-4 Save-5 Save-6";
  text-align: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 5px;
  font-weight: bold;
}

.Save-H{
  width: 400px;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #000000;
  grid-area: Save-H;
  display: flex;
  align-items: center;
  justify-content: center
}

.Save-0{
  grid-area: Save-0;
  align-items: center;
  justify-content: center
}
.Save-1{
  grid-area: Save-1;
  align-items: center;
  justify-content: center
}
.Save-2{
  grid-area: Save-2;
  align-items: center;
  justify-content: center
}
.Save-3{
  grid-area: Save-3;
  align-items: center;
  justify-content: center
}
.Save-4{
  grid-area: Save-4;
  align-items: center;
  justify-content: center
}
.Save-5{
  grid-area: Save-5;
  align-items: center;
  justify-content: center
}
.Save-6{
  grid-area: Save-6;
  align-items: center;
  justify-content: center
}

.Save-6 > div{
  align-items: center;
  justify-content: center
}


.leftsidestatblock .saves div{
  padding-bottom: 3px;
  padding-top: 3px;
}

.ui-dialog .charsheet .leftsidestatblock .saves input{
  height: 18px;
  width: 30px;
  font-weight: bold;
  padding: 1px;
  float: right;
}

.Save-Selection{
  text-align: center;
  float: left;
  width: 400px;
  border-radius: 5px;
  border: 1px solid black;
}

.Save-Selection table{
  width: 100%;
  font-weight: bold;
  border-radius: 5px 5px 0 0;
}

.Save-Selection table th{
  text-align: center;
  background-color: #000000;
  color: #FFFFFF;
}

.ui-dialog .charsheet .Save-Selection table td{
  font-weight: bold;
  float: none;
  text-align: center;
  margin: auto;
}

.ui-dialog .charsheet .Save-Selection table td select{
  padding: 0;
  border: 1px grey;
  height: 18px;
  width: 90px;
  vertical-align: center;
  background-color: #DEDEDE;
  float: none;
}

.saves input[readonly]{
  -moz-appearance: textfield;
  background-color: #5A5A5A;
  color: #FFFFFF;
}

.ui-dialog .charsheet .saves button[type=roll],
.ui-dialog .charsheet .saves button[type=compendium]{
  padding: 0;
  border: 1px black solid;
  margin: 0;
  width: 18px;
  height: 16px;
  text-align: center;
  background-color: #F0F0F0;
  color: #000000;
  background-image: none;
  content: "";
  float: right;
  transition-duration: 0.4s;
  box-shadow: 0 2px #909090;
}

.ui-dialog .charsheet .leftsidestatblock .saves button[type=roll]:hover,
.ui-dialog .charsheet .leftsidestatblock .saves button[type=compendium]:hover {
  background-color: #323232;
  color: #FFFFFF;
}

.ui-dialog .charsheet .leftsidestatblock .saves button[type=roll]:active,
.ui-dialog .charsheet .leftsidestatblock .saves button[type=compendium]:active {
  background-color: #000000;
  color: #db1c1c;
  box-shadow: 0 0px;
  transform: translateY(2px);
}

.rightsideblock{
  border-radius: 3px;
  width: 380px;
  float: right;
  margin: auto;
}

.rightsideblock .rightgrid{
  display: grid;
  grid-template-columns: auto auto;
  padding: 1px;
  border-radius: 5px;
  background-color: #ffffff;
}

.rightsideblock .rightgrid .griditem{
  background-color: #000000;
  color: #FFFFFF;
  font-weight: bold;
  padding: 3px;
}

.rightsideblock .rightgrid .griditem span{
  float: right;
}

.ui-dialog .charsheet .rightsideblock .rightgrid input{
  float: right;
  margin: auto 3px;
}

.ui-dialog .charsheet .rightsideblock table{
  border: 1px;
  border-radius: 5px;
}

.ui-dialog .charsheet .rightsideblock th{
  background-color: #000000;
  color: #FFFFFF;
  text-align: center;
  font-weight: bold;
  font-size: 10px;
  padding: 2px;
  border-bottom: white solid 1px;
}

.ui-dialog .charsheet .rightsideblock td{
  width: 190px;
  border-right: 1px white solid;
  background-color: #000000;
  color: #FFFFFF;
  padding: 3px;
  text-align: left;
  font-weight: bold;
}

.ui-dialog .charsheet .rightsideblock td input{
  -moz-appearance: textfield;
  float: right;
  height: 18px;
  padding: 2px;
  border: 1px;
  background-color: #FFFFFF;
  color: #000000;
  text-align: center;
}

.ui-dialog .charsheet .rightsideblock input{
  -moz-appearance: textfield;
  height: 18px;
  padding: 2px;
  border: 1px;
  background-color: #FFFFFF;
  color: #000000;
  text-align: center;
  font-weight: bold;
}

.ui-dialog .charsheet .rightsideblock input[readonly]{
  -moz-appearance: textfield;
  height: 18px;
  padding: 2px;
  border: 1px;
  background-color: #5A5A5A;
  color: #FFFFFF;
  text-align: center;
  font-weight: bold;
}

.ui-dialog .charsheet .rightsideblock button[type=roll],
.ui-dialog .charsheet .rightsideblock button[type=compendium]{
  padding: 0;
  border: 0;
  margin: 0;
  width: 18px;
  height: 18px;
  text-align: center;
  background-image: none;
  content: "";
  float: right;
  transition-duration: 0.4s;
  box-shadow: 0 2px #909090;
}

.ui-dialog .charsheet .rightsideblock button[type=roll]:hover,
.ui-dialog .charsheet .rightsideblock button[type=compendium]:hover {
  background-color: #323232;
  color: #FFFFFF;
}

.ui-dialog .charsheet .rightsideblock button[type=roll]:active,
.ui-dialog .charsheet .rightsideblock button[type=compendium]:active {
  background-color: #000000;
  color: #db1c1c;
  box-shadow: 0 0px;
  transform: translateY(2px);
}

.ui-dialog .charsheet .leftsidestatblock hr{
  margin: 4px;
  border-top: 1px dotted #323232;
}

.leftsidestatblock table{
  border: 1px;
  border-radius: 5px;
}
.leftsidestatblock th{
  background-color: #000000;
  color: #FFFFFF;
  text-align: center;
  font-weight: bold;
  font-size: 10px;
  padding: 2px;
}

.leftsidestatblock td{
  padding: 2px;
}

.DnT {
  width: 819px;
  background-color: #000000;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  padding-bottom: 5px;
  margin-bottom: 3px;
}

.DnT .DnT-Left-Racial{
  vertical-align: top;
  text-align: left;
  height: 54px;
  width: 94%;
  border: 1px solid black;
  border-radius: 5px 5px 5px 5px;
  resize: vertical;
  margin: 3px 0 0;
  padding: 0;
}

.charsheet .ui-dialog .DnT table{
  width: 800px;
}
.DnT th{
  text-align: center;
}

.DnT td{
  text-align: center;
}

.DnT-Left-Racial{
  display: inline-block;
  width: 200px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0;
  margin: 0;
  vertical-align: top;
}

.ui-dialog .charsheet .DnT-Left-Racial input[type=text]{
  width: 90%;
  height: 18px;
  text-align: center;
  background-color: #000000;
  color: #FFFFFF;
  font-weight: bold;
  border: 0;
  margin-top: 3px;
  border-radius: 5px;
}

.DnT-Left-Racial .title{
  width: 200px;
  background-color: #000000;
  color: #FFFFFF;
  border: 0;
  border-radius: 5px 5px 0 0;
  float: left;
  vertical-align: center;
  margin-top: 3px;
}


.DnT-Left-Racial textarea{
  vertical-align: top;
  text-align: left;
  height: 54px;
  width: 94%;
  border: 1px solid black;
  border-radius: 5px 5px 5px 5px;
  resize: vertical;
  margin: 3px 0 0;
  padding: 0;
}

/* <editor-fold desc="Species Styling"*/

.charsheet .repcontainer[data-groupname="repeating_species"] > .repitem{
  width: 200px;
  float: left;
  display: inline-block;
}

.charsheet .repcontainer[data-groupname="repeating_species"] > .repitem .species_trait_title{
  width: 200px;
  background-color: #000000;
  color: #FFFFFF;
  border: 0;
  border-radius: 5px 5px 0 0;
  float: left;
  vertical-align: center;
  margin-top: 3px;
}

.charsheet .repcontainer[data-groupname="repeating_species"] > .repitem .species_trait_title input{
  width: 90%;
  height: 18px;
  text-align: center;
  background-color: #000000;
  color: #FFFFFF;
  font-weight: bold;
  border: 0;
  float: left;
}

.charsheet .repcontainer[data-groupname="repeating_species"] >.repitem .species_trait_description{
  display: none;
}

.charsheet .repcontainer[data-groupname="repeating_species"] >
.repitem input.species-toggle[value="1"] ~ div.species_trait_description{
  display: block;
}

.charsheet .repcontainer[data-groupname="repeating_species"] > .repitem .species_trait_description textarea{
  vertical-align: top;
  text-align: left;
  height: 54px;
  width: 94%;
  border: 1px solid black;
  border-radius: 5px 5px 5px 5px;
  resize: vertical;
  margin: 3px 0 0;
  padding: 0;
}

/*</editor-fold>*/

/*<editor-fold desc="Primary Definition Min/Max"*/

/*</editor-fold>*/

/* <editor-fold desc="Secondary Definition Styling" */

.charsheet .repcontainer[data-groupname="repeating_definitions"] > .repitem{
  width: 200px;
  float: left;
  display: inline-block;
}

.charsheet .repcontainer[data-groupname="repeating_definitions"] > .repitem .secdef_title{
  width: 200px;
  background-color: #000000;
  color: #FFFFFF;
  border: 0;
  border-radius: 5px 5px 0 0;
  float: left;
  vertical-align: center;
  margin-top: 3px;
}

.charsheet .repcontainer[data-groupname="repeating_definitions"] > .repitem .secdef_title input{
  width: 90%;
  height: 18px;
  text-align: center;
  background-color: #000000;
  color: #FFFFFF;
  font-weight: bold;
  border: 0;
  float: left;
}

.charsheet .repcontainer[data-groupname="repeating_definitions"] >.repitem .secdef_description{
  display: none;
}

.charsheet .repcontainer[data-groupname="repeating_definitions"] >
.repitem input.secdef-toggle[value="1"] ~ div.secdef_description{
  display: block;
}

.charsheet .repcontainer[data-groupname="repeating_definitions"] > .repitem .secdef_description textarea{
  vertical-align: top;
  text-align: left;
  height: 54px;
  width: 94%;
  border: 1px solid black;
  border-radius: 5px 5px 5px 5px;
  resize: vertical;
  margin: 3px 0 0;
  padding: 0;
}
/*</editor-fold>*/

/* <editor-fold desc="Feat Styling" */

.charsheet .repcontainer[data-groupname="repeating_feats"] > .repitem{
  width: 200px;
  float: left;
  display: inline-block;
}

.charsheet .repcontainer[data-groupname="repeating_feats"] > .repitem .feats_title{
  width: 200px;
  background-color: #000000;
  color: #FFFFFF;
  border: 0;
  border-radius: 5px 5px 0 0;
  float: left;
  vertical-align: center;
  margin-top: 3px;
}

.charsheet .repcontainer[data-groupname="repeating_feats"] > .repitem .feats_title input{
  width: 90%;
  height: 18px;
  text-align: center;
  background-color: #000000;
  color: #FFFFFF;
  font-weight: bold;
  border: 0;
  float: left;
}

.charsheet .repcontainer[data-groupname="repeating_feats"] >.repitem .feats_description{
  display: none;
}

.charsheet .repcontainer[data-groupname="repeating_feats"] >
.repitem input.feats-toggle[value="1"] ~ div.feats_description{
  display: block;
}

.charsheet .repcontainer[data-groupname="repeating_feats"] > .repitem .feats_description textarea{
  vertical-align: top;
  text-align: left;
  height: 54px;
  width: 94%;
  border: 1px solid black;
  border-radius: 5px 5px 5px 5px;
  resize: vertical;
  margin: 3px 0 0;
  padding: 0;
}
/*</editor-fold>*/

/* <editor-fold desc="Afflictions Styling"> */

.charsheet .repcontainer[data-groupname="repeating_afflictions"] > .repitem{
  width: 200px;
  float: left;
  display: inline-block;
}

.charsheet .repcontainer[data-groupname="repeating_afflictions"] > .repitem .afflictions_title{
  width: 200px;
  background-color: #000000;
  color: #FFFFFF;
  border: 0;
  border-radius: 5px 5px 0 0;
  float: left;
  vertical-align: center;
  margin-top: 3px;
}

.charsheet .repcontainer[data-groupname="repeating_afflictions"] > .repitem .afflictions_title input{
  width: 90%;
  height: 18px;
  text-align: center;
  background-color: #000000;
  color: #FFFFFF;
  font-weight: bold;
  border: 0;
  float: left;
}

.charsheet .repcontainer[data-groupname="repeating_afflictions"] >.repitem .afflictions_description{
  display: none;
}

.charsheet .repcontainer[data-groupname="repeating_afflictions"] > .repitem input.afflictions-toggle[value="1"] ~ div.afflictions_description{
  display: block;
}

.charsheet .repcontainer[data-groupname="repeating_afflictions"] > .repitem .afflictions_description textarea{
  vertical-align: top;
  text-align: left;
  height: 54px;
  width: 94%;
  border: 1px solid black;
  border-radius: 5px 5px 5px 5px;
  resize: vertical;
  margin: 3px 0 0;
  padding: 0;
}
/*</editor-fold>*/

/*<editor-fold desc="Abilities Repeating Styles"*/

.sheet-abilities{
  display: inline-block;
  text-align: center;
}

.charsheet .repcontainer[data-groupname="repeating_abilities"] > .repitem{
  width: 390px;
  margin: 3px;
  float: left;
}

.charsheet .repcontainer[data-groupname="repeating_abilities"] > .repitem .abilitytitle{
  width: 388px;
  background-color: #000000;
  border: 1px solid black;
  border-radius: 5px 5px 0 0;
  display: inline-block;
  text-align: center;
  color: #FFFFFF;
}

.charsheet .repcontainer[data-groupname="repeating_abilities"] > .repitem .abilitytitle input[type=text]{
  width: 50%;
  height: 18px;
  font-size: 16px;
  text-align: center;
  background-color: #000000;
  color: #FFFFFF;
  font-weight: bold;
  border: 0;
}

.charsheet .repcontainer[data-groupname="repeating_abilities"] > .repitem .abilitytitle input.abilityinput{
  height: 18px;
  width: 30px;
  font-size: 12px;
  text-align: center;
  background-color: #FFFFFF;
  color: #000000;
}

.charsheet .repcontainer[data-groupname="repeating_abilities"] > .repitem .ability_description{
  float: left;
  width: 388px;
  background-color: #FFFFFF;
  color: #000000;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  display: none;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto;
  gap: 1px 1px;
  justify-content: center;
  grid-template-areas:
    "Details-1 Details-2"
    "Description Description";
}

.charsheet .repcontainer[data-groupname="repeating_abilities"] > .repitem .ability-toggle[value="1"] ~ div.ability_description{
  display: grid;
}

.charsheet .repcontainer[data-groupname="repeating_abilities"] > .repitem .ability_description .abilitysaving{
  padding: 0;
  border: 0;
  text-align: center;
  float: right;
  height: 18px;
  width: 96px;
  margin: 0;
}

.charsheet .repcontainer[data-groupname="repeating_abilities"] > .repitem .Details-1 {
  grid-area: Details-1;
  padding: 3px;
  justify-items: start;
  text-align: left;
}
.charsheet .repcontainer[data-groupname="repeating_abilities"] > .repitem .Details-1 input{
  justify-self: end;
}

.charsheet .repcontainer[data-groupname="repeating_abilities"] > .repitem .Details-2 {
  grid-area: Details-2;
  justify-itms: start;
  padding: 3px;
  text-align: left;
}

.charsheet .repcontainer[data-groupname="repeating_abilities"] > .repitem .Details-2 input{
  justify-self: end;
}

.charsheet .repcontainer[data-groupname="repeating_abilities"] > .repitem .Description {
  grid-area: Description;
}

.charsheet .repcontainer[data-groupname="repeating_abilities"] > .repitem .ability_description input[type=number]{
  height: 18px;
  text-align: center;
  float: right;
}

.charsheet .repcontainer[data-groupname="repeating_abilities"] > .repitem .ability_description input[type=text]{
  height: 18px;
  width: 56px;
  text-align: center;
  float: right;
}

.charsheet .repcontainer[data-groupname="repeating_abilities"] > .repitem .ability_description textarea{
  vertical-align: top;
  text-align: left;
  height: 54px;
  width: 94%;
  border: 1px solid black;
  border-radius: 5px 5px 5px 5px;
  resize: vertical;
  padding: 0;
}

/*</editor-fold>*/

/*<editor-fold desc="Spell Sheet Style">*/

.charsheet .sheet-spells{
  text-align: center;
  vertical-align: top;
}

.charsheet .sheet-spells .gridarea{
  grid-template-columns: 50% 50%;
  padding: 0;
  display: grid;
  grid-template-rows: auto auto;
  gap: 0 0;
  grid-template-areas:
    "HeaderS HeaderS"
    "Column1 Column2";
}

.charsheet .sheet-spells .gridarea .titleblock{
  grid-area: HeaderS;
}

.charsheet .sheet-spells .Spell-Level{
  width: 396px;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  border-top: 1px white solid;
}

.Spell-Level-Name {
  width: 398px;
  border-radius: 5px 5px 0 0;
  background-color: #000000;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 14px;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid white;
}

.Spell-Level-Name span{
font-size: 18px;
}

.Spell-Level-Name input{
  height: 16px;
  width: 48px;
  padding: 0;
  margin: 0;
  border: 0;
  text-align: center;
}

.Spell-Level .sheet-repeating-fields{
  display: none;
}

input.sptoggle[value="1"] ~ .sheet-repeating-fields{
  display: inline-block;
}

/*<editor-fold desc="Spell Repeating Fields">*/

.minimizable-repeat-spells{
  display: inline-block;
  text-align: center;
  width: 390px;
  margin-top: 3px;
}


 .minimizable-repeat-spells span{
  background-color: #383838;
  color: #FFFFFF;
  font-weight: bold;
}
 .minimizable-repeat-spells .spelltitle{
  width: 388px;
  background-color: #383838;
  border: 1px solid black;
  border-radius: 5px 5px 0 0;
  display: inline-block;
  text-align: center;
}

 .minimizable-repeat-spells .spelltitle input[type=text]{
  width: 50%;
  height: 18px;
  font-size: 16px;
  text-align: center;
  background-color: #383838;
  color: #FFFFFF;
  font-weight: bold;
  border: 0;
}

 .minimizable-repeat-spells .spells_description{
  width: 388px;
  background-color: #FFFFFF;
  color: #000000;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  justify-content: center;
  display: none;
  grid-template-columns: 50% 50%;
  padding: 0;
  grid-template-rows: auto auto;
  gap: 1px 1px;
  grid-template-areas:
    "Details-1 Details-2"
    "Description Description";
}

 .minimizable-repeat-spells .spells-toggle[value="1"] ~ div.spells_description{
  display: grid;
}

 .minimizable-repeat-spells .spells_description input[type=number]{
  height: 18px;
  text-align: center;
  float: right;
}

 .minimizable-repeat-spells .spells_description .Details-1 {
  grid-area: Details-1;
  padding: 3px;
  justify-items: start;
  text-align: left;
}

 .minimizable-repeat-spells .spells_description .Details-1 .spellselect{
  padding: 0;
  border: 0;
  text-align: center;
  height: 18px;
  width: 80px;
  margin: 0;
  justify-self: end;
}


 .minimizable-repeat-spells .spells_description .Details-1 input{
  justify-self: end;
}

 .minimizable-repeat-spells .spells_description .Details-1 select{
  justify-self: end;
}

 .minimizable-repeat-spells .spells_description .Details-1 input[type=checkbox]{
  float: right;
}

 .minimizable-repeat-spells .spells_description .Details-1 input[type=text]{
  height: 18px;
  width: 56px;
  text-align: center;
  float: right;
}


 .minimizable-repeat-spells .spells_description .Details-2 {
  grid-area: Details-2;
  justify-items: start;
  padding: 3px;
  text-align: left;
}
 .minimizable-repeat-spells .spells_description .Details-2 input{
  justify-self: end;
}

 .minimizable-repeat-spells .spells_description .Details-2 input[type=checkbox]{
  float: right;
}

 .minimizable-repeat-spells .spells_description .Details-2 input[type=text]{
  height: 18px;
  width: 56px;
  text-align: center;
  float: right;
}

 .minimizable-repeat-spells .spells_description .Description {
  grid-area: Description;
}

 .minimizable-repeat-spells .spells_description .Description textarea{
  vertical-align: top;
  text-align: left;
  height: 54px;
  width: 94%;
  border: 1px solid black;
  border-radius: 5px 5px 5px 5px;
  resize: vertical;
  padding: 0;
}

/*</editor-fold*/

/*</editor-fold>*/

/*<editor-fold desc="Accessories">*/

.sheet-accessories .accessories-grid{
  width: 800px;
  background-color: #FFFFFF;
  color: #000000;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  justify-content: center;
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 0;
  grid-template-rows: auto auto;
  gap: 0 0;
  grid-template-areas:
    "HeaderM HeaderM"
    "Column1 Column2";
}

.sheet-accessories .accessories-grid .crown-check{
  height: 24px;
  width: 24px;
}

.sheet-accessories .accessories-grid textarea{
  vertical-align: top;
  text-align: left;
  height: 54px;
  width: 94%;
  border: 1px solid black;
  border-radius: 5px 5px 5px 5px;
  resize: vertical;
  padding: 0;
}

.sheet-accessories .accessories-grid input[type=text]{
  font-weight: bold;
  text-align: center;
  height: 24px;
  width: 240px;
}

.sheet-accessories .accessories-grid h3{
  color: #FFFFFF;
}

.sheet-accessories .accessories-grid .HeaderM {
  grid-area: HeaderM;
  background-color: #000000;
  Color: #FFFFFF;
  font-weight: bold;
  text-align: center;
}

.sheet-accessories .accessories-grid .Column-1 {
  grid-area: Column-1;
}

.sheet-accessories .accessories-grid .Column-2 {
  grid-area: Column-2;
}

/*</editor-fold>*/

/*<editor-fold desc="Inventory Styling"?*/
.inventory-grid{
  width: 800px;
  background-color: #FFFFFF;
  color: #000000;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  justify-content: center;
  display: grid;
  grid-template-columns: 800px;
  padding: 0;
  grid-template-rows: auto auto;
  gap: 0 0;
  grid-template-areas:
    "Header-I"
    "Column-I";
}

.inventory-grid .Header-I{
  grid-area: Header-I;
  background-color: #000000;
  font-weight: bold;
  color: #FFFFFF;
}

.inventory-grid .Header-I h3{
  color: #FFFFFF;
}

.inventory-grid .Column-I{
  grid-area: Column-I;
}

.charsheet .repcontainer[data-groupname="repeating_maininventory"] > div:nth-child(odd){
  background-color: #D0D0D0;
}


.bag-grid{
  width: 798px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto;
  gap: 0 40px;
  grid-template-areas:
  "name quantity piece-weight total-weight";
  justify-content: center;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid black;
}

.ui-dialog .charsheet .name textarea{
  height: 18px;
  width: 240px;
  text-align: center;
  resize: vertical;
  margin: auto;
  display: block;
}
.quantity input[type=text]{
  height: 28px;
  width: 64px;
  text-align: center;
}
.piece-weight input[type=text]{
  height: 28px;
  width: 64px;
  text-align: center;
}
.total-weight input[type=text]{
  height: 28px;
  width: 64px;
  text-align: center;
}


.bag-grid .name{grid-area: name; display: block}
.bag-grid .quantity{grid-area: quantity; display: inline-block;vertical-align: bottom}
.bag-grid .piece-weight{grid-area: piece-weight; display: inline-block;vertical-align: bottom}
.bag-grid .total-weight{grid-area: total-weight; display: inline-block;vertical-align: bottom}

/*</editor-fold>*/

/* More Definitions and Traits stuff */
.ui-dialog .charsheet .DnT input{
  width: 90px;
  height: 18px;
  text-align: center;
}

.ui-dialog .charsheet .DnT-Left-Racial input{
  width: 90px;
  height: 18px;
  text-align: center;
}

.DnT input[readonly]{
  -moz-appearance: textfield;
  background-color: #5A5A5A;
  color: #FFFFFF;
  font-weight: bold;
}

.ui-dialog .charsheet .DnT select{
  width: 120px;
  height: 18px;
  text-align: center;
  padding: 0;
  font-size: 12px;
  margin: 0;
}

.SkillsPage{
  width: 800px;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
}

.ui-dialog .charsheet .SkillsPage button[type=roll],
.ui-dialog .charsheet .SkillsPage button[type=compendium]{
  padding: 0;
  border: #909090 solid 1px;
  margin: 0;
  width: 20px;
  height: 20px;
  text-align: center;
  background-image: none;
  content: "";
  float: right;
  transition-duration: 0.4s;
  box-shadow: 0 2px #909090;
}

.ui-dialog .charsheet .SkillsPage button[type=roll]:hover,
.ui-dialog .charsheet .SkillsPage button[type=compendium]:hover {
  background-color: #323232;
  color: #FFFFFF;
}

.ui-dialog .charsheet .SkillsPage button[type=roll]:active,
.ui-dialog .charsheet .SkillsPage button[type=compendium]:active {
  background-color: #000000;
  color: #db1c1c;
  box-shadow: 0 0;
  transform: translateY(2px);
}

.SkillsPage .skill-desc{
  background-color: #A2A2A2;
  color: #000000;
  font-weight: bold;
  margin: 6px auto;
}

.SkillsPage input[type=text]{
  text-align: left;
  width: 100px;
  height: 20px;
}

.ui-dialog .charsheet .SkillsPage input[type=number]{
  -moz-appearance: textfield;
  text-align: center;
  font-weight: bold;
}

.ui-dialog .charsheet .SkillsPage input::-webkit-outer-spin-button,
.ui-dialog .charsheet .SkillsPage input::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.ui-dialog .charsheet .SkillsPage input[readonly]{
  background-color: #5A5A5A;
  color: #FFFFFF;
  font-weight: bold;
}

.ui-dialog .charsheet .SkillsPage th{
  text-align: center;
  width: 800px;
  background-color: #000000;
  color: #FFFFFF;
  font-weight: bold;
}

.ui-dialog .charsheet .SkillsPage td{
  padding: 1px;
}

.ui-dialog .charsheet .hoverskill{
  transition-duration: .05s;
}

.ui-dialog .charsheet .hoverskill:hover{
  background-color: #323232;
  color: #FFFFFF;
}

.Armor-Off-Hand{
  width: 800px;
  display: inline-block;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
}

.ui-dialog .charsheet .Armor-Off-Hand table{
  width: 800px;
  border: 0;
}

.ui-dialog .charsheet .Armor-Off-Hand th {
  text-align: center;
  font-weight: bold;
  background-color: #000000;
  color: #FFFFFF;
}

.ui-dialog .charsheet .Armor-Off-Hand td{
  padding: 2px;
  font-weight: bold;
  background-color: #DADADA;
}

.ui-dialog .charsheet .Armor-Off-Hand tr{
  border-bottom: 1px solid black;
}

.ui-dialog .charsheet .Armor-Off-Hand td input{
  width: 90px;
  height: 18px;
  text-align: center;
}

.gear-weapons{
  width: 800px;
  margin: 0 auto;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
}

/*Configure the tab buttons*/

.charsheet .repcontainer[data-groupname="repeating_weapons"] > .repitem{
  display: inline-block;
  background-color: #FFFFFF;
  font-weight: bold;
  margin: 3px auto;
  padding: 3px;
  text-align: left;
  vertical-align: top;
}

.charsheet .repcontainer[data-groupname="repeating_weapons"] > .repitem .repeatweaponname{
  border: 1px black solid;
  width: 250px;
  height: 46px;
  border-radius: 5px 5px 0 0;
  background-color: #323232;
  color: #FFFFFF;
  font-size: 18px;
  margin: auto 0;
  text-align: center;
  font-weight: bold;
  align-items: center;
}

.charsheet .repcontainer[data-groupname="repeating_weapons"] > .repitem .repeatweaponname input[type=text]{
  width: 250px;
  background-color: #323232;
  border-color: #323232;
  color: #FFFFFF;
  font-size: 18px;
  margin: auto 0;
  padding: 0;
  text-align: center;
  font-weight: bold;
  align-items: center;
}

.charsheet .repcontainer[data-groupname="repeating_weapons"] > .repitem .w-atck-crt{
  display: none;
  border: 1px black solid;
  border-radius: 0 0 5px 5px;
  padding: 3px;
}

.charsheet .repcontainer[data-groupname="repeating_weapons"] > .repitem input.critconfirm-toggle[value="1"] ~ div div.w-atck-crt{
  display: block;
}

.charsheet .repcontainer[data-groupname="repeating_weapons"] > .repitem .w-atck-crt>div{
  padding: 3px;
}

.charsheet .repcontainer[data-groupname="repeating_weapons"] > .repitem .w-atck-crt button[type=roll],
.charsheet .repcontainer[data-groupname="repeating_weapons"] > .repitem .w-atck-crt button[type=compendium]{
  box-shadow: 0 2px #404040;
  height: 16px;
  width: 18px;
}

.charsheet .repcontainer[data-groupname="repeating_weapons"] > .repitem div.w-atck-crt>div:nth-of-type(even){
  background: #C0C0C0;
  border-radius: 5px;
}


.charsheet .repcontainer[data-groupname="repeating_weapons"] > .repitem .w-atck-dmg{
  border: 1px black solid;
  border-radius: 0 0 5px 5px;
  padding: 3px;
}

.charsheet .repcontainer[data-groupname="repeating_weapons"] > .repitem .w-atck-dmg>div{
  padding: 3px;
}

.charsheet .repcontainer[data-groupname="repeating_weapons"] > .repitem .w-atck-dmg button[type=roll],
.charsheet .repcontainer[data-groupname="repeating_weapons"] > .repitem .w-atck-dmg button[type=compendium]{
  box-shadow: 0 2px #404040;
  height: 16px;
  width: 18px;
}

.charsheet .repcontainer[data-groupname="repeating_weapons"] > .repitem div.w-atck-dmg>div:nth-of-type(even){
  background: #C0C0C0;
  border-radius: 5px;
}

.charsheet .repcontainer[data-groupname="repeating_weapons"] > .repitem .weapongrid{
  display: none;
}

.charsheet .repcontainer[data-groupname="repeating_weapons"] >.repitem input.weapon-toggle[value="1"] ~ div.weapongrid{
  display: grid;
}


.charsheet .repcontainer[data-groupname="repeating_weapons"] >.repitem .weapongrid{
  border: 1px black solid;
  border-radius: 0 0 5px 5px;
  padding: 3px;
  background-color: #F0F0F0;
  grid-template-columns: repeat(auto-fill, minmax(209px, 1fr));
  grid-auto-rows: minmax(24px, auto);
  grid-gap: 2px;
  text-align: left;
}


/* show the selected tab */

.charsheet .repcontainer[data-groupname="repeating_weapons"] > .repitem input,
.charsheet .repcontainer[data-groupname="repeating_weapons"] > .repitem select{
  float: right;
}

.charsheet .repcontainer[data-groupname="repeating_weapons"] > .repitem input[type=number]{
  -moz-appearance:textfield;
  text-align: center;
}

.charsheet .repcontainer[data-groupname="repeating_weapons"] > .repitem input::-webkit-outer-spin-button,
.charsheet .repcontainer[data-groupname="repeating_weapons"] > .repitem input::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.charsheet .repcontainer[data-groupname="repeating_weapons"] > .repitem .wname{
  width: 90px;
  font-size: 14px;
  height: 20px;
}

.charsheet .repcontainer[data-groupname="repeating_weapons"] > .repitem .accuracy{
  width: 36px;
  height: 20px;
  font-size: 14px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  padding: 0;
  margin: 0 auto;
  text-align: center;
}

.charsheet .repcontainer[data-groupname="repeating_weapons"] > .repitem .dtype{
  width: 36px;
  font-size: 14px;
  height: 20px;
}

/******************************************
 * Below here is the custom Roll Template *
 ******************************************/

/* Smaller margins - remove these if you want the huge default left margin */

.sheet-rolltemplate-custom {
  margin-left: -37px;
  color:rgba(0,0,0,1);
}
.withoutavatars .sheet-rolltemplate-custom {
  margin-left: -7px;
}

.sheet-rolltemplate-custom .sheet-container {
  border: 0px solid;
  /* by default, the border is the same color as the header. You can change this here, e.g. to black */
  border-color: var(--header-bg-color);
}

/* Header formatting - title and subtitle */
.sheet-rolltemplate-custom .sheet-header {
  background-color: var(--header-bg-color);
  /* change text-align to center to center the header text */
  text-align: left;
  color: var(--header-text-color);
  padding: 5px;
  border-bottom: 6px black solid;
  border-radius: 4px 4px 0 0;
}
.sheet-rolltemplate-custom .sheet-title {
  font-size:1.6em;
  font-weight: bold;
  text-align: center;
  margin: auto;
}

.sheet-rolltemplate-custom .sheet-title a:link{
  color: #DDDDDD;
  text-decoration: underline;
}

.sheet-rolltemplate-custom .sheet-title a:visited{
  color: #FFFFFF;
  text-decoration: underline;
}

.sheet-rolltemplate-custom .sheet-title a:active{
  color: #EE00EE;
}

.sheet-rolltemplate-custom .sheet-subtitle {
  font-size:1.1em;
  font-style: italic;
  text-align: center;
  margin: auto;
}

/* example colors */
.sheet-rolltemplate-custom .sheet-container {
  /* this is the default color */
  --header-bg-color: #800020;
  --header-text-color: #FFF;
  border: solid 3px black;
  border-radius:  8px;
}

.sheet-rolltemplate-custom .sheet-container.sheet-color-red {
  --header-bg-color: #F00;
}
.sheet-rolltemplate-custom .sheet-container.sheet-color-green {
  --header-bg-color: #0F0;
  --header-text-color: #000;
}

/* Allprops part */
.sheet-rolltemplate-custom .sheet-content {
  display: grid;
  background: rgba(0,0,0,0);
  /* Header formatting - modify the column layout below */
  grid-template-columns: auto auto;
  /* Line height to match default roll template */
  line-height:1.4em;
}
.sheet-rolltemplate-custom .sheet-content > div {
  padding: 5px;
  background-color: #EAD2A8;
}

/* Left column */
.sheet-rolltemplate-custom .sheet-content .sheet-key {
  font-weight: bold;
  padding-right: 10px;
  text-align: right;
}

/* Empty rule, use this if you want to change the right column
.sheet-rolltemplate-custom .sheet-value {
}
*/

/* Make even-numbered rows grey */

.sheet-rolltemplate-custom .sheet-content :nth-child(4n+3),
.sheet-rolltemplate-custom .sheet-content :nth-child(4n){
  background: #f6efe4;
}

.sheet-rolltemplate-custom .sheet-content a:link{
  background: rgba(0,0,0,0);
  color: #0000EE;
  font-style: italic;
  text-decoration: underline;
}

.sheet-rolltemplate-custom .sheet-content a:visited{
  background: rgba(0,0,0,0);
  color: #551A8B;
  font-style: italic;
  text-decoration: underline;
}

.sheet-rolltemplate-custom .sheet-content a:active{
  background: rgba(0,0,0,0);
  color: #AA00DD;
  font-style: italic;
}

/* Description field */
.sheet-rolltemplate-custom .sheet-desc {
  grid-column: span 2;
  padding: 5px;
  text-align: center;
}